*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.discount-calculator {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 20px;
  max-width: 500px;
  padding: 40px;
  color: white;
  font-weight: 700;
  box-shadow: 33px 26px 5px #0000005e;
}

.discount-calculator h2 {
  color: white;
  margin-bottom: 20px;
}

.discount-calculator .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.final-price {
  color: yellow;
  font-weight: bold;
}
